<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BackupSecretKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.BackupSecretKey">
        <id column="id" property="id" />
        <result column="key_symmetry" property="keySymmetry" />
        <result column="key_type" property="keyType" />
        <result column="private_key" property="privateKey" />
        <result column="public_key" property="publicKey" />
        <result column="key_name" property="keyName" />
    </resultMap>
    <select id="getKeyPairList" resultType="com.ruoyi.system.domain.BackupSecretKey">
        SELECT * FROM kms_backup_secret_key limit #{count}
    </select>

</mapper>
