<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DataBackupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.DataBackup">
        <id column="id" property="id" />
        <result column="operater" property="operater" />
        <result column="database_name" property="databaseName" />
        <result column="table_name" property="tableName" />
        <result column="note" property="note" />
        <result column="href" property="href" />
        <result column="op_time" property="opTime" />
        <result column="op_type" property="opType" />
        <result column="file_directory" property="fileDirectory" />
        <result column="file_name" property="fileName" />
        <result column="ip" property="ip" />
        <result column="sql_hash" property="sqlHash" />
        <result column="sql_entity" property="sqlEntity" />

    </resultMap>

</mapper>
