<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KeyCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="KeyCountResult" type="com.ruoyi.system.domain.KeyCount">
        <id column="id" property="id" />
        <result column="download_count" property="downloadCount" />
        <result column="log_out_count" property="logOutCount" />
        <result column="apply_count" property="applyCount" />
    </resultMap>

    <sql id="selectKeyCount">
        select id, download_count, log_out_count, apply_count from key_count;
    </sql>
    <update id="updateKeyCount" parameterType="com.ruoyi.system.domain.KeyCount">
        update key_count
        <trim prefix="SET" suffixOverrides=",">
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="logOutCount != null">log_out_count = #{logOutCount},</if>
            <if test="applyCount != null">apply_count = #{applyCount},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="selectKeyCountById" resultType="com.ruoyi.system.domain.KeyCount">
        <include refid="selectKeyCount"/>
        where id=#{id}
    </select>
    <select id="selectKeyCountList" resultType="com.ruoyi.system.domain.KeyCount">
        <include refid="selectKeyCount" />
        <where>
            <if test="downloadCount !=null and downloadCount != ''">and download_count like concat('%', #{downloadCount}, '%')</if>
            <if test="logOutCount !=null and logOutCount != ''">and log_out_count like concat('%', #{logOutCount}, '%')</if>
            <if test="applyCount !=null and applyCount != ''">and apply_count like concat('%', #{applyCount}, '%')</if>
        </where>
    </select>
    <select id="checkEqual" parameterType="KeyCount" resultType="Integer">
        select count (*) from key_count
        <where>
            <if test="downloadCount != null  and downloadCount != ''"> download_count = #{downloadCount}</if>
            <if test="logOutCount != null  and logOutCount != ''"> log_out_count = #{log_out_count}</if>
            <if test="applyCount != null  and applyCount != ''"> apply_count = #{apply_count}</if>

        </where>
    </select>

    <insert id="insertKeyCount" parameterType="KeyCount">
        insert into key_count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="downloadCount != null">download_count,</if>
            <if test="logOutCount != null">logOut_count,</if>
            <if test="applyCount != null">apply_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
            <if test="logOutCount != null">#{logOutCount},</if>
            <if test="applyCount != null">#{applyCount},</if>
        </trim>
    </insert>

    <delete id="deleteKeyCountById" parameterType="int">
        delete from key_count where id=#{id}
    </delete>

</mapper>
