<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KmsSecretKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="KeyResult" type="com.ruoyi.system.domain.KmsSecretKey">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="issure_dn" property="issureDn" />
        <result column="key_alg" property="keyAlg" />
        <result column="create_time" property="createTime" />
        <result column="length" property="length" />
        <result column="save_path" property="savePath" />
    </resultMap>

    <sql id="selectKey">
        select id, serial_number, issure_dn, key_alg, create_time, length, save_path from kms_secret_key;
    </sql>
    <update id="updateKey" parameterType="com.ruoyi.system.domain.KmsSecretKey">
        update kms_secret_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="issureDn != null">issure_dn = #{issureDn},</if>
            <if test="keyAlg != null">key_alg = #{keyAlg},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="length != null">length = #{length},</if>
            <if test="savePath != null">save_path = #{savePath},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="selectKeyById" resultType="com.ruoyi.system.domain.KmsSecretKey">
        <include refid="selectKey"/>
        where id=#{id}
    </select>
    <select id="selectKeyList" resultType="com.ruoyi.system.domain.KmsSecretKey">
        <include refid="selectKey" />
        <where>
            <if test="serialNumber !=null and serialNumber != ''">and serial_number like concat('%', #{serialNumber}, '%')</if>
            <if test="issureDn !=null and issureDn != ''">and issure_dn like concat('%', #{issureDn}, '%')</if>
            <if test="keyAlg !=null and keyAlg != ''">and key_alg like concat('%', #{keyAlg}, '%')</if>
            <if test="createTime !=null and createTime != ''">and create_time like concat('%', #{createTime}, '%')</if>
            <if test="length !=null and length != ''">and length like concat('%', #{length}, '%')</if>
            <if test="savePath !=null and savePath != ''">and save_path like concat('%', #{savePath}, '%')</if>
        </where>
    </select>
    <select id="checkEqual" parameterType="KmsSecretKey" resultType="Integer">
        select count (*) from kms_secret_key
        <where>
            <if test="serialNumber != null  and serialNumber != ''"> serial_number = #{serialNumber}</if>
            <if test="issureDn != null  and issureDn != ''"> issure_dn = #{issureDn}</if>
            <if test="keyAlg != null  and keyAlg != ''"> key_alg = #{keyAlg}</if>
            <if test="createTime != null  and createTime != ''"> create_time = #{createTime}</if>
            <if test="length != null  and length != ''"> length = #{length}</if>
            <if test="savePath != null  and savePath != ''"> save_path = #{savePath}</if>
        </where>
    </select>

    <insert id="insertKey" parameterType="KmsSecretKey">
        insert into kms_secret_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="issureDn != null">issure_dn,</if>
            <if test="keyAlg != null">key_alg,</if>
            <if test="createTime != null">create_time,</if>
            <if test="length != null">length,</if>
            <if test="savePath != null">save_path,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="issureDn != null">#{issureDn},</if>
            <if test="keyAlg != null">#{keyAlg},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="length != null">#{length},</if>
            <if test="savePath != null">#{savePath},</if>
        </trim>
    </insert>

    <delete id="deleteKeyById" parameterType="int">
        delete from kms_secret_key where id=#{id}
    </delete>

</mapper>
