<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="LogResult" type="com.ruoyi.system.domain.Logs">
        <id column="log_id" property="logId" />
        <result column="create_time" property="createTime" />
        <result column="step" property="step" />
        <result column="user_id" property="userId" />
    </resultMap>

    <sql id="selectLogs">
        select log_id, create_time, step, user_id from logs;
    </sql>
    <update id="updateLogs" parameterType="com.ruoyi.system.domain.Logs">
        update auth
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="step != null">step = #{step},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where log_id=#{logId}
    </update>
    <select id="selectLogsById" resultType="com.ruoyi.system.domain.Logs">
        <include refid="selectLogs"/>
        where log_id=#{logId}
    </select>
    <select id="selectLogsList" resultType="com.ruoyi.system.domain.Logs">
        <include refid="selectLogs" />
        <where>
            <if test="createTime !=null and createTime != ''">and create_time like concat('%', #{createTime}, '%')</if>
            <if test="step !=null and step != ''">and step like concat('%', #{step}, '%')</if>
            <if test="userId !=null and userId != ''">and user_id like concat('%', #{userId}, '%')</if>
        </where>
    </select>
    <select id="checkEqual" parameterType="Logs" resultType="Integer">
        select count (*) from logs
        <where>
            <if test="createTime != null  and createTime != ''"> create_time = #{createTime}</if>
            <if test="step != null  and step != ''"> step = #{step}</if>
            <if test="userId != null  and userId != ''"> user_id = #{user_id}</if>

        </where>
    </select>

    <insert id="insertLogs" parameterType="Logs">
        insert into auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="step != null">logOut_count,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="step != null">#{step},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <delete id="deleteLogsById" parameterType="int">
        delete from logs where log_id=#{logId}
    </delete>


</mapper>
