<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="role" property="role" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="selectUser">
        select id, username, role, create_time from user;
    </sql>
    <update id="updateUser" parameterType="com.ruoyi.system.domain.User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">user_name = #{username},</if>
            <if test="role != null">role = #{role},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="selectUserById" resultType="com.ruoyi.system.domain.User">
        <include refid="selectUser"/>
        where id=#{id}
    </select>
    <select id="selectUserList" resultType="com.ruoyi.system.domain.User">
        <include refid="selectUser" />
        <where>
            <if test="username !=null and username != ''">and user_name like concat('%', #{username}, '%')</if>
            <if test="role !=null and role != ''">and role like concat('%', #{role}, '%')</if>
            <if test="createTime !=null and createTime != ''">and create_time like concat('%', #{createTime}, '%')</if>
        </where>
    </select>
    <select id="checkEqual" parameterType="User" resultType="Integer">
        select count (*) from user
        <where>
            <if test="username != null  and username != ''"> user_name = #{username}</if>
            <if test="role != null  and role != ''"> role = #{role}</if>
            <if test="createTime != null  and createTime != ''"> create_time = #{create_time}</if>

        </where>
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="role != null">role,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="role != null">#{role},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>

</mapper>
